pre { font-family: monospace; color: #d0d0d0; background-color: #1c1c1c; }

body { font-family: monospace; color: #d0d0d0; background-color: #1c1c1c; }

A:link {color: #9c9ce0}

A:visited {color: #cc0000}

A:active {color: #ff0000}

A:hover {color: #ffdb00}

.Comment { color: #808080; }

.h1 { color: #ff0000; }

.h2 { color: #ffdb00; }

.lnr { color: #a8a8a8; background-color: #080808; }

.lang {
	text-align: right;
}

/* =============================================================================
	table 表格
   ========================================================================== */

.table_dark		{
				width: 96%;
				border: 1px;
				/*border-collapse: collapse;*/
				border-style: solid;

}
.table_dark th{
				padding: 5px;
				color: #1c1c1c;
				background-color: #d0d0d0;
}

.table_dark td		{
				border-bottom: 1px solid;*/
				/*border-bottom: 1px dotted;*/
				padding: 5px;
}

